.delivery-table-wrapper {
    margin: 40px auto 80px;
    width: 90%;
    max-width: 800px;
    position: relative;
    z-index: 1;
    height: 100%;
}

#delivery {
    font-size: 14px;
    border-collapse: collapse;
    border: 2px solid #95CA57;
}

#delivery thead {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    background-color: #95CA57;
    border: 2px solid #95CA57;
}

#delivery td {
    text-align: center;
}

#delivery tbody .web-district {
    color: #ca293e;
    font-size: 30px;
    font-weight: 400;
    border: 2px solid #95CA57;
    background-color: #ffffff;
}

.mobile-district {
    display: none;
    color: #ca293e;
    font-size: 13px;
    font-weight: 400;
    background-color: #ffffff;
}

.mobile-district td {
    text-align: center;
}

#delivery .ward {
    color: #000;
    font-weight: 300;
}

#delivery .last_row {
    border-bottom: 2px solid #95CA57;
}

#delivery .even_row {
    background-color: #fafafa;
}

@media (max-width: 600px) {
    .delivery-table-wrapper {
        width: 100%;
    }

    #delivery, #delivery thead {
        font-size: 12px;
    }

    .web-district {
        display: none;
    }

    .mobile-district {
        display: block;
    }
}