.content-wrapper {
    background-color: #FFFFFF !important;
}

#main-navbar .main-nav {
    padding-right: 10px;
}

.section {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 1960px 180px;
    background-image: url("../resources/images/index/section_bottom_1960x180.jpg");
    background-position: top center;
}

.section:before, .section:after {
    content: ' ';
    display: table;
}

.section:after {
    clear: both;
}

.home-section-header {
    margin-bottom: 10px;
    font-size: 40px;
    /*color: #37702F;*/
    color: #085946;
    font-weight: 300;
}

.home-section-description {
    /*font-family: 'rl', sans-serif;*/
    font-size: 24px;
    font-weight: 300;
}

.home-section-content {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    position: relative;
    z-index: 1;
    height: 100%;
}

.home-section-content-header {
    margin-bottom: 10px;
    font-size: 30px;
    /*color: #37702F;*/
    color: #085946;
    font-weight: 300;
}

.home-section-content-copy {
    font-size: 20px;
}

.content-more {
    display: block;
    color: #08c;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: normal;
    margin: 0;
}

.content-more:hover {
    text-decoration: underline;
    color: #08c;
}

/* SLIDER */
.home-slider {
    width: 100%;
    padding-top: 0;
}

/* PRODUCT SECTION */
.home-product, .home-catering, .home-feedback, .home-location, .home-blog {
    width: 100%;
    text-align: center;
    padding-top: 90px;
    background-color: #FFFFFF;
}

#home-product-order-online {
    display: block;
    text-align: center;
    width: 100%;
}

#glf-restaurant-order-online2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
}

.download-menu-button {
    margin: 0 0 35px 20px;
    padding: 6px 21px;
    border-radius: 0px;
    float: none;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #2189db;
    background: -webkit-linear-gradient(#42a1ec, #0070c9);
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

#section-product-salad {
    background-repeat: no-repeat;
    background-size: 1440px 500px;
    background-image: url("../resources/images/index/salad_1440x500.png");
    background-position: top center;
    background-color: #fafafa;
    overflow: hidden;
    margin-bottom: 2px;
    height: 500px;
}

#section-product-salad-content {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;
}

#section-product-salad-copy {
    width: 350px;
    float: right;
    text-align: center;
    margin-top: 140px;
    margin-right: 80px;
}

#section-product-cyo {
    background-repeat: no-repeat;
    background-size: 1440px 500px;
    background-image: url("../resources/images/index/salad_cyo_1440x500.png");
    background-position: top center;
    background-color: #fafafa;
    overflow: hidden;
    margin-bottom: 2px;
    height: 500px;
}

#section-product-cyo-content {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;
}

#section-product-cyo-copy {
    width: 350px;
    float: left;
    text-align: center;
    margin-top: 140px;
    margin-left: 100px;
}

#section-product-green-smoothie {
    background-repeat: no-repeat;
    background-size: 1440px 500px;
    background-image: url("../resources/images/index/green_smoothie_1440x500.png");
    background-position: top center;
    background-color: #fafafa;
    overflow: hidden;
    margin-bottom: 2px;
    height: 500px;
}

#section-product-green-smoothie-content {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;
}

#section-product-green-smoothie-copy {
    width: 400px;
    float: right;
    text-align: center;
    margin-top: 70px;
    margin-right: 90px;
}

#section-product-juice {
    background-repeat: no-repeat;
    background-size: 1440px 500px;
    background-image: url("../resources/images/index/juice_1440x500.png");
    background-position: top center;
    background-color: #fafafa;
    overflow: hidden;
    margin-bottom: 0;
    height: 500px;
}

#section-product-juice-content {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;
}

#section-product-juice-copy {
    width: 350px;
    float: left;
    text-align: center;
    margin-top: 90px;
    margin-left: 80px;
}

/* CATERING SERVICE */
#section-catering-service {
    background-repeat: no-repeat;
    background-size: 1440px 600px;
    background-image: url("../resources/images/index/catering_1440x600.png");
    background-position: top center;
    background-color: #fafafa;
    overflow: hidden;
    margin-bottom: 0;
    height: 600px;
}

#section-catering-service-content {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;
}

#section-catering-service-copy {
    width: 350px;
    float: left;
    text-align: center;
    margin-top: 50px;
    margin-left: 80px;
}

/* TESTIMONIAL */
#section-customer-feedback {
    background-repeat: no-repeat;
    background-size: 1440px 600px;
    background-image: url("../resources/images/index/review_1440x600.png");
    background-position: top center;
    background-color: #fafafa;
    overflow: hidden;
    margin-bottom: 0;
    height: 600px;
}

#section-customer-feedback-content {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;
}

#section-customer-feedback-copy {
    margin-top: 50px;
}

/* NUTRITION */
#section-blog-header {
    background-repeat: no-repeat;
    background-size: 1440px 371px;
    background-image: url("../resources/images/index/blog_1440x371.png");
    background-position: top center;
    background-color: #fafafa;
    overflow: hidden;
    margin-bottom: 0;
    height: 371px;
}

#section-blog-content {
    background-color: #fafafa;
}

.out-wrapper {
    width: 100%;
    background-color: #E9E9E9;
    padding: 5px 0 10px;
}

.masonry-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;
}

.blog-masonry {
    margin: 1.5em 0 0;
    padding-bottom: 20px;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.blog-item {
    display: inline-block;
    background: #fff;
    /*border: 1px solid #dbdbdb;*/
    margin: 14px 7px 3px 7px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    border-radius: 6px;
}

.blog-item-image {
    display: block;
}

.blog-item-image img {
    border-radius: 6px 6px 0 0;
}

.blog-item-content {
    padding: 15px;
}

.blog-item-credit {
    padding: 10px;
}

.blog-item-date, .blog-item-author {
    color: #999999;
    font-size: 12px;
    line-height: 20px;
}

.blog-item-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
}

.blog-item-title a:hover{
    color: #37702F;
}

.blog-item-meta {
    border-top: 1px solid #e7e7e7;
    padding: 10px 10px 15px 10px;
}

@media only screen and (min-width: 440px) {
    .blog-masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 720px) {
    .blog-masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1000px) {
    .blog-masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (max-width: 768px){
    .masonry-wrapper {
        width: 90%;
    }
}

/* LOCATION & CONTACT */
#section-location {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;
}

#section-location-map {
    pointer-events: none;
}

#section-location-map iframe {
    width: 800px;
    height: 400px;
}

#contact-table {
    border-collapse: collapse;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#contact-table .border-bottom {
    border-bottom: solid 1px #e3e3e3;
}

#contact-table td {
    border: none;
}

.contact-icon {
    width: 48px;
    height: 48px;
}

/* FOOTER */
.index-footer {
    font-size: 12px;
    line-height: 1.66667;
    font-weight: 400;
    letter-spacing: normal;
    background-color: #fafafa;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.section-footer {
    margin: 0 auto;
    color: #999;
    padding: 20px 22px 24px 22px;
}

.footer-legal {
    text-align: center;
}

/*********** MOBILE *************/
@media (max-width: 768px) {

    .home-section-header {
        font-size: 30px;
    }

    .home-section-description {
        font-size: 18px;
    }

    .home-section-content-header {
        font-size: 20px;
    }

    .home-section-content-copy {
        font-size: 14px;
    }

    .content-more {
        font-size: 14px;
    }

    #section-product-salad {
        background-size: 800px 500px;
        background-image: url("../resources/images/index/salad_800x500.png");
    }

    #section-product-cyo {
        background-size: 800px 500px;
        background-image: url("../resources/images/index/salad_cyo_800x500.png");
    }

    #section-product-green-smoothie {
        background-size: 800px 500px;
        background-image: url("../resources/images/index/green_smoothie_800x500.png");
    }

    #section-product-juice {
        background-size: 800px 500px;
        background-image: url("../resources/images/index/juice_800x500.png");
    }

    #section-customer-feedback {
        background-size: 800px 500px;
        background-image: url("../resources/images/index/review_800x500.png");
        height: 500px;
    }

    #section-location {
        width: 100%;
    }

    #section-product-salad-content, #section-product-cyo-content,
    #section-product-green-smoothie-content, #section-product-juice-content,
    #section-customer-feedback-content, #section-customer-feedback-content {
        width: 100%;
    }

    #section-product-salad-copy, #section-product-cyo-copy,
    #section-product-green-smoothie-copy, #section-product-juice-copy {
        width: 98%;
        float: none;
        text-align: center;
        margin-top: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .section p {
        margin-bottom: 10px;
    }

    #section-customer-feedback-copy {
        margin-top: 60px;
    }

    #section-location-map iframe {
        width: 98%;
        height: 400px;
    }
}

@media (max-width: 450px) {
    #contact-table {
        width: 98%;
        font-size: 14px;
    }

    .contact-icon {
        width: 32px;
        height: 32px;
    }
}